body {
    font-family: "Courier New, monospace";
    background-color: #06141b;
    margin: 0 ;
    padding: 20px;
    color: #00eaff;
}

h1, h2, h3 {
    color: #00eaff;
    text-shadow: 0 0 5px #1d1e1f, 0 0 10px #48a0a8;
}

.tab-content{
    display: none;
    border: 1px solid #00eaff;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(7, 44, 48, 0.3);
    box-shadow: 0 0 10px rgba(0,234, 255, 0.2);
}

button {
    background-color: transparent;
    border:1px solid #00eaff;
    color: #00eaff;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.2s;
}
button:hover {
    background-color: #00eaff;
    color: #06141b;
    box-shadow: 0 0 10px #00eaff;
}

input {
    background-color: transparent;
    border: 1px solid #00eaff;
    color: #00eaff;
    padding:8px;
    margin: 5px;
    font-family:inherit;
}

input::placeholder {
    color: rgba(0,234, 255, 0.5);
}

pre {
    background-color: rgba(13, 43, 46, 0.5);
    border: 1px solid #00eaff;
    padding: 15px;
    margin-top: 10px;
    white-space: pre-wrap;
    box-shadow: 0 0 10px rgba(0,234,255,0.2);
}

.tabs {
    margin-bottom: 15px;
}

.tabs button {
    border-bottom:2px solid transparent;
}

.tabs button:hover {
    border-bottom: 2px solid #00eaff;
}



